@require "iconfont/iconfont.css"
@require "transition"
@require "_theme-base.styl"

.iconfont
  relative()
  display inline-block
  font-size $common-size
  transform scale(16 / 14)
  padding-left 1px
  padding-right 1px

::-webkit-scrollbar
  size 0
  display none
  background transparent

*
  user-select none

input, textarea, [contenteditable], [contenteditable] *
  user-select text

input, textarea
  &::placeholder
    color $placeholder-color

body
  font-hei()
  background-color $bg-color

:root, body, #app
  height 100%

.scroll
  scrollSmooth()

.scroll-x
  scrollSmooth(true)

#app
  relative()

a
  &, &:active, &:hover, &:visited
    color inherit
    text-decoration none

// @stylint off
input
  placeholder(color $placeholder-color,)
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    appearance none

.mask
  fixed(top right bottom left)
  z-index 500
  background-color $stress-color
  opacity .5

  &.transparent
    opacity 0

.page-container
  padding 10px 20px

.page-body
  margin-top 15px
  background-color $reverse-color
  box-shadow 0 2px 3px 0 rgba(202, 202, 202, 0.44)
  border-radius 5px

.btn
  padding 4px 5px
  border-radius 3px

  &.btn-hg
    padding 11px 15px

  &.btn-disabled-default,
  &.btn-disabled-primary
    border-color $remark-color

    &:focus, &:active, &:hover
      outline 0

  &.btn-disabled-default
    color $remark-color

  &.btn-disabled-primary
    color $reverse-color
    background-color $remark-color

.btn-middle
  padding 9px 15px
  border-radius 3px
  cursor pointer

.input
  margin 0
  padding 0
  border 0
  outline none

.flex-center
  display flex
  align-items center

